.btn{
    text-decoration: none;
    display: inline-block;
    padding: 1vh 2vw;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    background: #1b2631;
    top: 90%;
    border-radius: 10px;
    left:0px;
}
