.widget {
    z-index: 9999999;
    position: fixed;
    top:100px;
    width: 7vw;
    height: 100%;
    background: #242428;
    color: #f1c40c;
    padding: 20px 30px;
    font-family: 'Roboto', sans-serif;
}

.widget-list {
    padding: 0;
    list-style: none;
    width: 7vw;
}
.widget-list a:before {
    margin-right: 14px;
}

.widget-list a {
    text-decoration: none;
    outline: none;
    display: block;
    padding: 6px 0;
    letter-spacing: 1px;
    font-weight: 300;
    color: #a1a1a1;
    transition: .3s linear;
}
.widget-list a:hover {color: #f1c40c ;}

