.mailOpen{
    position: fixed;
    top: 110px;
    left: 220px;
    transform: scale(1);
    background-color: #282c34;
    width: 89vw;
    height: 100vh;
    color: white;
    z-index: 9;
}

.mailFullContent{
    padding: 50px;
    font-size: 20px;
}

.separator {
    display: flex; align-items: center;
    justify-content: space-between;
}
.separator::before,
.separator::after {
    content: ""; flex: 1;
    border: 1px solid #eebf3a;
}

.userData{
    padding-top: 40px;
    color: white;
    display: inline-block;
}


