.MailItem{
    margin-bottom: 20px;
    position: relative;
    top: 120px;
    left: 6%;
    background-color: #282c34;
    height: 2vh;
    width: 86vw;
    border-style: solid;
    border-color: rgba(241, 196, 12, 0.36);
    border-radius: 7px;
    border-width: 1px;
    padding: 20px;
    cursor: pointer;
}

.itemLeftMail{
    padding-left: 2%;
    color: white;
    padding-right: 1%;
}

.rightItemPost{
    position: relative;
    float: right;
    padding-right: 1%;
    color: white;
    top: -17px;

}