.nav{
    width: 100vw;
    height: 100px;
    background: #282c34;
    position: fixed;
    top: 0px;
    z-index: 999;
    padding-right: 50px;
}

.nav_link{
    text-decoration: none;
    color: #f1c40c;
    font-size: 30px;
    position: absolute;
    top:32%;
}

.nav_link.right{
    float: right;
}

.leftNav{
    position: relative;
    top:32%;
    padding-left: 2%;
}

.rightNav{
    position: relative;
    top:32%;
    padding-right: 2%;
    width: 100px;
    float: right;
}