.nav{
    width: 100vw;
    height: 100px;
    background: #282c34;
    position: fixed;
    top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 999;
}

.nav_link{
    text-decoration: none;
    color: #f1c40c;
    font-size: 30px;
    position: absolute;
    top: 34%;
}
.rightItem{
    float: right;
    padding-right: 9%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}